# Byte-compiled / optimized / DLL files
__pycache__/
notebook/
*.py[cod]
*$py.class

# C extensions
*.so

# Visual studio cache
*.vs/
*.vscode/

# Protein DataBank files and cache folder
*.ent

# Structure file caches
*_cache/

# Jupyter notebooks
notebooks/

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Sphinx documentation
docs/_build/
docs/functions/
docs/classes/

# PyBuilder
target/

# pyenv
.python-version

# dotenv
.env

# virtualenv
venv/
ENV/

# Spyder project settings
.spyderproject

# Rope project settings
.ropeproject

# PyCharm
.idea/