include README.md
include CHANGELOG.rst
include LICENSE.txt 
include requirements.txt 
include dev-requirements.txt

recursive-include skued/baseline/data *
recursive-include skued/simulation/data *
recursive-include skued/*/tests/data *

recursive-exclude docs *

global-exclude *.py[cod] __pycache__ *.so *.dylib